@model IEnumerable<WebHospital.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contraseña_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_usuariocreador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Controlpermiso.nombrecontrolpermiso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre_empleado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseña_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_usuariocreador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Controlpermiso.nombrecontrolpermiso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre_empleado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.idUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idUsuario })
        </td>
    </tr>
}

</table>
