@model WebHospital.Models.Cita

@{
    ViewBag.Title = "Create";
}

<h2>Nuevo registro</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.idcita, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <h5>Cita</h5>
                @Html.EditorFor(model => model.idcita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idcita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.idPaciente, "idPaciente", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <h5>Código Paciente</h5>
                @Html.DropDownList("idPaciente", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idPaciente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.fecha_cita, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <h5>Fecha</h5>
                @Html.EditorFor(model => model.fecha_cita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha_cita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.estado)
                    @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
    <a href="/Citas/Index?" class="btn btn-default">Regresar</a>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
