@model IEnumerable<WebHospital.Models.Puesto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_puesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_puesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_puesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_puesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idpuesto }) |
            @Html.ActionLink("Details", "Details", new { id=item.idpuesto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idpuesto })
        </td>
    </tr>
}

</table>
