@model IEnumerable<WebHospital.Models.Prueba>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prueba_rapVIH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carga_viral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CD4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cripto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.histo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TB_lam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Codigo_paciente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prueba_rapVIH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carga_viral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CD4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cripto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.histo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TB_lam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Codigo_paciente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idprueba }) |
            @Html.ActionLink("Details", "Details", new { id=item.idprueba }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idprueba })
        </td>
    </tr>
}

</table>
